.container-explore-recipe {
  width: 360px;
  height: 640px;
}

.btns-container {
  display: flex;
  height: 40px;
}

.btns-container button {
  margin-top: 2px;
  /* font-weight: 400; */
  height: 40px;
  width: 120px;
}