.header {
  display: flex;
  background-color: #FFF275;
  color: #b4000f;
  flex-direction: column;
  width: 360px;
  position: relative;
  height: 95px;
}

h1 {
  align-items: center;
  flex-grow: 2;
  font-family: 'Times New Roman', Times, serif;
  font-size: 14;
  font-style: italic;
  font-weight: bold;
  text-align: center;
  width: 20%;
}

.icons {
  display: flex;
  float: right;
  height: 35px;
  justify-content: space-between;
  margin-top: 10px;
  width: 120px;
}

.btns-image {
  display: flex;
  flex-direction: row;
  width: 100vh;
}

.logo-header {
  display: flex;
  height: 70px;
  /* justify-content: space-between; */
  width: 360px;
}