.main-card {
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  margin: auto;
  max-width: 340px;
  overflow-y: scroll;
  max-height: 280px;

}

.img-recomendation {
  height: 250px;
  width: 140px;
}
