.login-container {
  width: 360px;
  height: 640px;
  background-color: #FFF275;
  
}

.title-app {
  margin-left: 19%;
  color: #FF3C38
}

.button-enter {
  color: white;
  font-size: 30px;
  font-weight: bold;
  width: 150px;
  height: 150px;
  background-color: #FF8C42;
}